<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Photos</title>
    <style>
        img {
            height: 100%;
            width: 100%;
            max-height: 100vh;
            object-fit: contain;
            margin: auto;
        }
    </style>
</head>

<body>
    <div id="slideshow">
        <% images.forEach((image, index)=> { %>
            <img src="/uploads/<%= image %>" class="slide" style="display: <%= index === 0 ? 'block' : 'none' %>;">
            <% }); %>
    </div>
    <script>    
        const slides = document.querySelectorAll('.slide');
        let currentSlide = 0;

        const showSlide = (index) => {
            slides[currentSlide].style.display = 'none';
            currentSlide = (index + slides.length) % slides.length;
            slides[currentSlide].style.display = 'block';
          };

      // Automatically change slide every 7 seconds
        setInterval(() => {
            showSlide(currentSlide + 1);
          }, 7000);

        // Change slide on keydown event
      document.addEventListener('keydown', (event) => {
        if (event.key === 'ArrowLeft') {
          showSlide(currentSlide - 1); // Previous slide
        }
        showSlide(currentSlide + 1);
  });
</script>

</body>

</html>
